body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top-section {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.middle-section {
    background-image: url('https://i.ibb.co/YQdqrwJ/openart-image-RVi33lr7-1715650818970-raw.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
}

.bottom-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}

.column {
    width: 30%;
}

.column h2 {
    text-align: center;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.checkboxes label {
    width: 45%;
    margin: 5px;
}

#searchButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
}